
.header {
  padding-top: 10px;
  display: flex;
    justify-content: space-between;
    background-color: rgb(246, 239, 247);
 
   
}
.link {
  text-decoration: none;
  color: blueviolet;
  padding-right: 20px;
}
.nav .active {
  color: gold;
  
}
.header nav {
  padding-top: 20px;
}
.logo img {
  width: 100px;
}