
.header {
  padding-top: 20px;
  display: flex;
    justify-content: space-between;
   
}
.header a {
  text-decoration: none;
  color: 852fb6;
  padding-right: 20px;
}
.logo img {
  width: 50px;
  padding-left: 20px;
}
.content { 
  background-color: chocolate;
}
